Hello "{{user.firstname}}",

<br/>
<br />

<h1>Welcome to the Vidyanext family! You've made the right choice for your child.</h1>

<br />
<br />

Your account details are as follows:

<br />
<br/>

Username: {{user.user_name}} <br />
Password: {{password}} 

<br /><br />

You can access the Revision Buddy package at: http://revise.vidyanext.com.

<br /><br />

Your Vidyanext Certified Tutor's details: <br /><br />

Name: {{tutor.firstname}} <br />
Phone:{{tutor.phone_number}}

<br /><br />


Questions? Please reach out with any doubts at "080 67191900" or send us an email at “support@vidyanext.com”. <br /><br />

Welcome aboard. Happy learning! <br /><br />

Team Vidyanext